@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.headertop{
    background-color: #1CD1B0;
    padding: 10px;
    font-size: 15px;
}

.headerbottom{
    background-color: #00669F;
    padding: 28px;
    box-shadow: 0 1px 50px gray;
    position: sticky;
    top: 0;
    z-index: 1;
}

header>h1{
    font-size: 40px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 0 150px 0;
}


.logobatman{
    border-radius: 90px;

}

.cajas{
    flex-direction: column;


}

.cajatopbatman{
    background-image: url(../img/fondobatman.png);
    height: 193px;
    width: 300px;
}

i{
    color: red;
    position: relative;
    left: 20px;
    top: 15px;
}

.cajacenterbatman{
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #F3F3F3;
    padding: 10px 17px;
}

.titulobatman{
    font-size: 30px;
    padding: 15px;
}

.textobatman{
    font-size: 16px;
}

.cajabottom{
    width: 300px;
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}

.boton{
    background-color: #00669F;
    padding: 15px 37px;
    margin: 40px 0 10px 0;
    color: white;
}

.cajatopqueen{
    background-image: url(../img/fondoqueen.png);
    height:193px;
    width: 300px
}

.cajacenterqueen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #F3F3F3;
    padding: 10px 17px;
    height: 350px;
    width: 300px;
}

.logoqueen{
    border-radius: 90px;
}

.tituloqueen{
    font-size: 30px;
    padding: 15px;
}

.footer{
    background-color: #00669F;
    color: white;
    font-size: 16px;
    padding: 16px;
}


@media screen and (max-width: 768px){

.contenedor{
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
}

.cajas{   
    padding: 30px 0 30px 0;
}
}
